<template>
    <div class="content-wrapper">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <app-breadcrumb page-title="Nueva venta" :directory="'Ventas'" :icon="'grid'"/>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mb-primary">
                <div class="card card-with-shadow border-0 h-100">
                    <app-overlay-loader v-if="preloader"/>
                    <div class="card-body">
                        <form ref="form" data-url="/venta" class="mb-0" :class="{'loading-opacity': preloader}">

                            <!-- Default form -->
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label>Cliente</label>
                                    <div class="input-group">
                                        <app-input id="inputs_cliente"
                                            class="input-group-element"
                                            type="search-select"
                                            :loaded-per-time="50"
                                            :required="true"
                                            placeholder="Buscar por DNI / Nombres y apellidos"
                                            v-model="inputs.cliente_id"
                                            list-value-field='full_data'
                                            :list="clientesLists"/>
                                        <div class="input-group-append">
                                            <button type="button"
                                                    class="btn btn-primary"
                                                    data-toggle="modal"
                                                    @click="openClienteAddEditModal">
                                                Nuevo
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Sorteo</label>
                                        <app-input id="inputs_sorteo"
                                            type="select"
                                            :loaded-per-time="20"
                                            :required="true"
                                            placeholder="Seleccione sorteo"
                                            v-model="inputs.sorteo_id"
                                            list-value-field='descripcion'
                                            :list="sorteosLists"/>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Cantidad Tickets</label>
                                        <app-input id="inputs_total_items"
                                            type="number"
                                            v-model="inputs.total_items"
                                            @input="calculateTotal"
                                            placeholder="Cantidad"
                                            :required="true"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Total</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">S/.</span>
                                            </div>
                                            <app-input id="inputs_total"
                                                class="input-group-element"
                                                type="text"
                                                v-model="inputs.total"
                                                placeholder="Total"
                                                :read-only="true"
                                                :required="true"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Show tickets -->
                            <div class="form-row my-3 section-show-tickets" v-if="ultimaVentaShare">
                                <div class="col-lg-4 col-md-4 col-sm-1" v-for="item in ultimaVenta.items" :key="item.id">
                                    <div class="card card-with-search border-0 card-with-shadow mb-primary">
                                        <div class="card-body p-1 bg-ticket-logo">
                                            <div class="media align-items-center rounded-0">
                                                <div class="avatars-w-100">
                                                    <vue-qr :margin="5" :text="'https://app.fortunatoom.com/print/tickets/'+ultimaVenta.id" qid="testid" :size="100"></vue-qr>
                                                </div>
                                                <div class="media-body ml-3"> 
                                                    <h5 class="card-title mb-0 font-weight-bold">{{item.codigo_ticket}}</h5>
                                                    
                                                    <p class="font-size-100 mb-0">{{ultimaVenta.cliente.full_data}}</p>
                                                    <!-- <p class="text-muted font-size-90 mt-4 mb-0">{{venta.user.full_name}}</p> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Send wsapp -->
                            <div class="form-row" v-show="ultimaVentaShare">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Enviar</label>
                                        <div class="input-group">
                                            <app-input id="inputs_wsapp"
                                            class="input-group-element"
                                            type="text"
                                            v-model="ultimaVentaWs"
                                            @input="generateLink"
                                            placeholder="Número whatsapp" /> 

                                            <div class="input-group-append">
                                                <button class="btn btn-success" 
                                                type="button"
                                                @click="submitWS">ENVIAR</button>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="mt-5 action-buttons">
                                <button type="submit" class="btn btn-success mr-2" @click.prevent="submit" v-show="!ultimaVentaShare">
                                    Registrar Venta
                                </button>
                                <button type="submit" class="btn btn-secondary" @click.prevent="clear">
                                    Limpiar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <clientes-add-modal
            v-if="isClienteAddEditModalActive"
            :table-id="tableId"
            :selected-url="selectedUrl"
            @close-modal="closeClienteAddEditModal"
        />

    </div>
</template>
<script>
    import {FormMixin} from '../../../../core/mixins/form/FormMixin.js';
    import * as actions from "../../../Config/ApiUrl";
    import VueQr from 'vue-qr';
    export default {
        name: "AddVentas",
        mixins: [FormMixin],
        components: {VueQr},
        data() {
            return {
                isClienteAddEditModalActive: false,
                tableId: 'clientes-advance-table',
                formRowInstruction: [this.$t('form_row_note')],
                preloader: false,
                inputs: {
                    cliente_id: '',
                    sorteo_id: 1,
                    total: 10,
                    total_items: 1,
                    status: 'inactive'
                },
                statusLists: [
                    {id: '', value: "Choose One",},
                    {id: 'active', value: "Active",},
                    {id: 'inactive', value: "Inactive",},
                    {id: 'invited', value: "Invite",},
                ],
                genderLists: [
                    {id: 'male', value: "Male"},
                    {id: 'female', value: "Female"},
                    {id: 'other', value: "Other"},
                ],

                tipoDocLists: [
                    {id: 'DNI', value: "DNI", from: 'RENIEC'},
                    {id: 'CE', value: "CE", from: ''},
                    {id: 'RUC', value: "RUC", from: 'SUNAT'},
                    {id: 'PASAPORTE', value: "PASAPORTE", from: ''},
                ],
                talonariosLists: [
                    {id: '', descripcion: "Seleccione",},
                ],
                clientesLists: [
                    {id: '', numero_doc_identidad: "Seleccione",},
                ],
                sorteosLists: [],
                ultimaVenta:{},
                ultimaVentaShare: false,
                ultimaVentaWs: '',
                ultimaVentaLink: '',
            }
        },
        created() {
            this.getClientesLists();
            this.getSorteosLists();
        },
        methods: {
            /**
             * for open add edit modal
             */
            openClienteAddEditModal() {
                this.isClienteAddEditModalActive = true;
            },

            /**
             * for close add edit modal
             */
            closeClienteAddEditModal() {
                $("#clientes-add-edit-Modal").modal('hide');
                this.isClienteAddEditModalActive = false;
                this.getClientesLists();
                this.reSetData();
            },
            /**
             * cancelled $emit Form confirmation modal
             */
            cancelled() {
                // this.deleteConfirmationModalActive = false;
                this.reSetData();
            },
            reSetData() {
                this.selectedUrl = '';
            },

            beforeSubmit(){
                this.preloader = true;
            },
            submit() {
                this.save(this.inputs);
            },
            afterSuccess(res) {
                this.ultimaVenta = res.data.data;
                this.ultimaVentaWs = res.data.data.cliente.celular;
                this.generateLink();
                this.ultimaVentaShare = true;
                this.$toastr.s(res.data.message);
            },
            afterFinalResponse() {
                this.preloader = false;
                // this.inputs = {
                //     cliente_id: '',
                //     sorteo_id: '',
                //     total: 10,
                //     total_items: 1,
                //     status: 'inactive'
                // };
            },
            afterError(res) {
                this.$toastr.e(res.data.message);
            },
            clear() {
                this.inputs = {
                    cliente_id: '',
                    sorteo_id: 1,
                    total: 10,
                    total_items: 1,
                    status: 'inactive'
                };
                this.fieldStatus = {
                    isSubmit: false
                };
                this.ultimaVentaShare = false;
            },

            getClientesLists() {
                this.axiosGet(actions.CLIENTES_LIST + '/?per_page=100&page=1&orderBy=desc').then(response => {
                    this.clientesLists = response.data.data;
                });
            },
            getSorteosLists() {
                this.axiosGet(actions.SORTEOS_LIST).then(response => {
                    this.sorteosLists = response.data.data;
                });
            },
            calculateTotal() {
                let total = 0;
                //Buscamos sorteo - talonario seleccionado
                let sorteo = this.sorteosLists.find(element => element.id == this.inputs.sorteo_id);
                //Realizamos el calculo total = this.sorte.talonario.precio_venta_unitario * this.inputs.total_items
                if(this.inputs.total_items === '') { 
                    total = 0;
                }else{
                    total = parseFloat(sorteo.talonario.precio_venta_unitario) * parseFloat(this.inputs.total_items);
                }
                //Establecer el total en input this.inpust.total = total
                this.inputs.total = total;
            },
            generateLink(){
                let urlWS = 'https://wa.me/51';
                let text = '?text=Se%20ha%20generado%20su%20compra%20correctamente%2C%20puede%20verificar%20sus%20ticket(s)%20en%20el%20siguiente%20enlace%3A%F0%9F%8C%90%20%0A%20https%3A%2F%2Fapp.fortunatoom.com%2Fprint%2Ftickets%2F'

                this.ultimaVentaLink = urlWS + this.ultimaVentaWs + text + this.ultimaVenta.id;
            },
            submitWS(){
                window.open(this.ultimaVentaLink, '_blank').focus();
            },
        }

    }
</script>
<style>
    .input-group-element{
        position: relative;
        flex: 1 1 auto;
        width: 1%;
    }
    .section-show-tickets{
        border: 1px solid rgb(44 44 44 / 30%);
        padding-top: 23px;
        border-style: dashed;
    }
</style>