<template>
    <modal :modal-id="modalId"
                     :title="modalTitle"
                     :preloader="preloader"
                     @submit="submit"
                     @close-modal="closeModal">
        <template slot="body">
            <app-overlay-loader v-if="preloader"/>
            <form class="mb-0"
                  :class="{'loading-opacity': preloader}"
                  ref="form" :data-url='selectedUrl ? `venta/${inputs.id}` : `venta`'>
                
                <div class="form-row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputs_nro_doc" class="mb-0">
                                Número
                            </label>
                            <app-input id="inputs_nro_doc"
                                class=""
                                type="text"
                                :read-only="true"
                                v-model="inputs.cliente.numero_doc_identidad"
                                placeholder="Número de documento"
                                :required="true"/> 
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputs_nombres" class="mb-0">
                                Nombres y apellidos
                            </label>
                            <app-input id="inputs_nombres"
                               class=""
                               type="text"
                               :read-only="true"
                               v-model="inputs.cliente.nombres_apellidos"
                               placeholder="Nombres y apellidos"
                               :required="true"/>
                        </div>
                    </div>
                    
                </div>

                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputs_celular" class="mb-0">
                                Número de celular
                            </label>
                            <app-input id="inputs_celular"
                               class=""
                               type="text"
                               :read-only="true"
                               v-model="inputs.cliente.celular"
                               placeholder="Número de celular"
                               :required="true"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputs_ciudad" class="mb-0">
                                Ciudad
                            </label>
                            <app-input id="inputs_ciudad"
                               class=""
                               type="text"
                               :read-only="true"
                               v-model="inputs.cliente.ciudad"
                               placeholder="Ciudad"
                               :required="true"/>
                        </div>
                    </div>
                </div>
                
                <!-- Show tickets -->
                <div class="form-row my-3 section-show-tickets">
                    <div class="col-lg-6 col-md-6 col-sm-1" v-for="item in inputs.items" :key="item.id">
                        <div class="card card-with-search border-0 card-with-shadow mb-primary">
                            <div class="card-body p-1 bg-ticket-logo">
                                <div class="media align-items-center rounded-0">
                                    <div class="avatars-w-100">
                                        <vue-qr :margin="5" :text="'https://app.fortunatoom.com/print/tickets/'+inputs.id" qid="testid" :size="100"></vue-qr>
                                    </div>
                                    <div class="media-body ml-3"> 
                                        <h5 class="card-title mb-0 font-weight-bold">{{item.codigo_ticket}}</h5>
                                        
                                        <p class="font-size-100 mb-0">{{inputs.cliente.full_data}}</p>
                                        <p class="text-muted font-size-90 mt-4 mb-0">{{inputs.user.full_name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row align-items-center">
                    <label for="inputs_status" class="col-sm-3 mb-0">
                        Estado
                    </label>
                    <app-input id="inputs_status"
                               class="col-sm-9"
                               type="select"
                               :required="true"
                               v-model="inputs.status"
                               :list="statusLists"/>
                </div>
                
            </form>
        </template>
    </modal>
</template>

<script>
    import {FormMixin} from '../../../../core/mixins/form/FormMixin.js';
    import {ModalMixin} from "../../../Mixins/ModalMixin";
    import AppLibrary from "../../../Helpers/AppLibrary"; //TODO
    import * as actions from "../../../Config/ApiUrl";
    import VueQr from 'vue-qr';

    export default {
        name: "AddModal",
        extends: AppLibrary,
        mixins: [FormMixin, ModalMixin],
        components: {VueQr},
        props: {
            tableId: String
        },
        data() {
            return {
                preloader: false,
                inputs: {
                    cliente_id: '',
                    // dia: new Date(),
                    cliente:{
                        id: '',
                        tipo_doc_intentidad: 'DNI',
                    },
                },
                phone: '',
                statusLists: [
                    {id: '', value: "Seleccione",},
                    {id: 'active', value: "Activo",},
                    {id: 'inactive', value: "Inactivo",},
                ],
                tipoDocLists: [
                    {id: 'DNI', value: "DNI", from: 'RENIEC'},
                    {id: 'CE', value: "CE", from: ''},
                    {id: 'RUC', value: "RUC", from: 'SUNAT'},
                    {id: 'PASAPORTE', value: "PASAPORTE", from: ''},
                ],
                clientesLists: [
                    {id: '', numero_doc_identidad: "Seleccione",},
                ],
                modalId: 'ventas-add-edit-Modal',
                modalTitle: this.$t('add'),
            }
        },
        created() {
            this.getClientesLists();

            if (this.selectedUrl) {
                this.modalTitle = 'Validar pago';
                this.preloader = true;
            }
        },
        methods: {
            submit() {
                this.inputs.phone = this.phone;

                if (this.inputs.dia) this.inputs.dia = this.getDateFormatForBackend(this.inputs.dia);
                this.save(this.inputs);
            },
            afterSuccess(response) {
                this.$toastr.s(response.data.message);
                this.$hub.$emit('reload-' + this.tableId);
            },

            afterSuccessFromGetEditData(response) {
                if (response.data.phone) this.phone = response.data.phone;
                this.inputs = response.data;
                this.preloader = false;
            },

            getClientesLists() {
                this.axiosGet(actions.CLIENTES_LIST).then(response => {
                    this.clientesLists = response.data.data;
                });
            }
        },
    }
</script>
