<template>
    <modal :modal-id="modalId"
                     :title="modalTitle"
                     :preloader="preloader"
                     @submit="submit"
                     @close-modal="closeModal">
        <template slot="body">
            <app-overlay-loader v-if="preloader"/>
            <form class="mb-0"
                  :class="{'loading-opacity': preloader}"
                  ref="form" :data-url='selectedUrl ? `cliente/${inputs.id}` : `cliente`'>
                
                <div class="form-row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputs_tipo_doc" class="mb-0">
                                Tipo Doc. Ident.
                            </label>
                            <app-input id="inputs_tipo_doc"
                                    class=""
                                    type="select"
                                    :required="true"
                                    v-model="inputs.tipo_doc_identidad"
                                    :list="tipoDocLists"/>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputs_nro_doc" class="mb-0">
                                Número
                            </label>
                            <div class="input-group">
                                <app-input id="inputs_nro_doc"
                                    class="input-group-element"
                                    type="text"
                                    autocomplete="off" 
                                    :maxLength="8"
                                    :minLength="8"
                                    v-model="inputs.numero_doc_identidad"
                                    placeholder="Número de documento"
                                    :required="true"/> 

                                <div class="input-group-append">
                                    <button class="btn btn-sm btn-secondary" 
                                    type="button"
                                    @click="submitService">RENIEC</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputs_nombres" class="mb-0">
                                Nombres y apellidos
                            </label>
                            <app-input id="inputs_nombres"
                               class=""
                               type="text"
                               v-model="inputs.nombres_apellidos"
                               placeholder="Nombres y apellidos"
                               :required="true"/>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputs_celular" class="mb-0">
                                Número de celular
                            </label>
                            <app-input id="inputs_celular"
                               class=""
                               type="text"
                               v-model="inputs.celular"
                               placeholder="Número de celular"
                               :required="true"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputs_ciudad" class="mb-0">
                                Ciudad
                            </label>
                            <app-input id="inputs_ciudad"
                               class=""
                               type="text"
                               v-model="inputs.ciudad"
                               placeholder="Ciudad"
                               :required="true"/>
                        </div>
                    </div>
                </div>

            </form>
        </template>
    </modal>
</template>

<script>
    import {FormMixin} from '../../../../core/mixins/form/FormMixin.js';
    import {ModalMixin} from "../../../Mixins/ModalMixin";
    import AppLibrary from "../../../Helpers/AppLibrary"; //TODO
    import * as actions from "../../../Config/ApiUrl";

    export default {
        name: "AddModal",
        extends: AppLibrary,
        mixins: [FormMixin, ModalMixin],
        props: {
            tableId: String
        },
        data() {
            return {
                preloader: false,
                preloaderService: false,
                inputs: {
                    id: '',
                    tipo_doc_identidad: 'DNI',
                    numero_doc_identidad: '',
                    nombres_apellidos: '',
                    ciudad: '',
                    status: 'active',
                },
                statusLists: [
                    {id: '', value: "Seleccione",},
                    {id: 'active', value: "Activo",},
                    {id: 'inactive', value: "Inactivo",},
                ],
                tipoDocLists: [
                    {id: 'DNI', value: "DNI", from: 'RENIEC'},
                    {id: 'CE', value: "CE", from: ''},
                    {id: 'RUC', value: "RUC", from: 'SUNAT'},
                    {id: 'PASAPORTE', value: "PASAPORTE", from: ''},
                ],
                modalId: 'clientes-add-edit-Modal',
                modalTitle: 'Nuevo cliente',
            }
        },
        created() {
            if (this.selectedUrl) {
                this.modalTitle = 'Editar cliente';
                this.preloader = true;
            }
        },
        methods: {
            submit() {
                // this.inputs.phone = this.phone;

                // if (this.inputs.dia) this.inputs.dia = this.getDateFormatForBackend(this.inputs.dia);
                this.save(this.inputs);
            },
            afterSuccess(response) {
                this.$toastr.s(response.data.message);
                this.$hub.$emit('reload-' + this.tableId);
            },

            afterSuccessFromGetEditData(response) {
                if (response.data.phone) this.phone = response.data.phone;
                this.inputs = response.data;
                this.preloader = false;
            },

            submitService() {
                if(this.inputs.numero_doc_identidad !== ''){
                    this.preloader = true;
                    this.axiosGet(actions.SERVICE_URL + '/dni/' + this.inputs.numero_doc_identidad).then(response => {
                        if (response.data.data){
                            this.inputs.nombres_apellidos = response.data.data.name;
                            this.inputs.ciudad = response.data.data.district_id;
                        }
                        this.preloader = false;
                    });
                }else{
                    alert('Número de DNI incorrecto');
                }
            }

        },
    }
</script>
