<template>
    <modal :modal-id="modalId"
                     :title="modalTitle"
                     :preloader="preloader"
                     @submit="submit"
                     @close-modal="closeModal">
        <template slot="body">
            <app-overlay-loader v-if="preloader"/>
            <form class="mb-0"
                  :class="{'loading-opacity': preloader}"
                  ref="form" :data-url='selectedUrl ? `sorteo/${inputs.id}` : `sorteo`'>
                <div class="form-group row align-items-center">
                    <label for="inputs_descripcion" class="col-sm-3 mb-0">
                        Descripción
                    </label>
                    <app-input id="inputs_descripcion"
                               class="col-sm-9"
                               type="text"
                               v-model="inputs.descripcion"
                               placeholder="Descripción"
                               :required="true"/>

                </div>
                <div class="form-group row align-items-center">
                    <label for="inputs_dia" class="col-sm-3 mb-0">
                        Fecha de sorteo
                    </label>
                    <app-input id="inputs_dia"
                               class="col-sm-9"
                               type="date"
                               v-model="inputs.dia"
                               placeholder="Fecha de sorteo"
                               :getTimeZone="true"
                               :required="false"/>
                </div>
                <div class="form-group row align-items-center">
                    <label for="inputs_dia" class="col-sm-3 mb-0">
                        Hora de sorteo
                    </label>
                    <app-input id="inputs_dia"
                               class="col-sm-9"
                               type="time"
                               v-model="inputs.hora"
                               placeholder="Hora de sorteo"
                               :required="false"/>
                </div>
                
                <div class="form-group row align-items-center">
                    <label for="inputs_status" class="col-sm-3 mb-0">
                        Estado
                    </label>
                    <app-input id="inputs_status"
                               class="col-sm-9"
                               type="select"
                               :required="true"
                               v-model="inputs.status"
                               :list="statusLists"/>
                </div>

                <div class="form-group row align-items-center">
                    <label for="inputs_talonario" class="col-sm-3 mb-0">
                        Talonario
                    </label>
                    <app-input id="inputs_talonario"
                               class="col-sm-9"
                               type="select"
                               :required="true"
                               v-model="inputs.talonario_id"
                               listValueField='descripcion'
                               :list="talonariosLists"/>
                </div>
                
            </form>
        </template>
    </modal>
</template>

<script>
    import {FormMixin} from '../../../../core/mixins/form/FormMixin.js';
    import {ModalMixin} from "../../../Mixins/ModalMixin";
    import AppLibrary from "../../../Helpers/AppLibrary"; //TODO
    import * as actions from "../../../Config/ApiUrl";

    export default {
        name: "AddModal",
        extends: AppLibrary,
        mixins: [FormMixin, ModalMixin],
        props: {
            tableId: String
        },
        data() {
            return {
                preloader: false,
                inputs: {
                    dia: new Date(),
                },
                phone: '',
                statusLists: [
                    {id: '', value: "Seleccione",},
                    {id: 'active', value: "Activo",},
                    {id: 'inactive', value: "Inactivo",},
                ],
                talonariosLists: [
                    {id: '', descripcion: "Seleccione",},
                ],
                modalId: 'sorteos-add-edit-Modal',
                modalTitle: this.$t('add'),
            }
        },
        created() {
            this.getTalonariosLists();

            if (this.selectedUrl) {
                this.modalTitle = this.$t('edit');
                this.preloader = true;
            }
        },
        methods: {
            submit() {
                this.inputs.phone = this.phone;

                if (this.inputs.dia) this.inputs.dia = this.getDateFormatForBackend(this.inputs.dia);
                this.save(this.inputs);
            },
            afterSuccess(response) {
                this.$toastr.s(response.data.message);
                this.$hub.$emit('reload-' + this.tableId);
            },

            afterSuccessFromGetEditData(response) {
                if (response.data.phone) this.phone = response.data.phone;
                this.inputs = response.data;
                this.preloader = false;
            },

            getTalonariosLists() {
                this.axiosGet(actions.TALONARIOS_LIST).then(response => {
                    // let name = this.options.filters.find(element => element.descripcion === this.$t('search_and_select'));

                    this.talonariosLists = response.data.data;
                    // name.option = response.data.map(name => {
                    //     return {
                    //         id: name.name,
                    //         value: name.name
                    //     }
                    // });
                });
            }
        },
    }
</script>
