<template>
    <div class="container-fluid p-3">
        <div class="row">
            <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-8">
                <div class="back-image"
                     :style="'background-image: url('+urlGenerator(configData.company_banner)+')'">
                </div>
            </div> -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                <div class="row">
                    
                    <div class="col-lg-4 col-md-4 col-sm-1" v-for="item in venta.items" :key="item.id">
                        <div class="card card-with-search border-0 card-with-shadow mb-primary">
                            <div class="card-body p-1 bg-ticket-logo">
                                <div class="media align-items-center rounded-0">
                                    <div class="avatars-w-100">
                                        <vue-qr :margin="5" :text="'https://app.fortunatoom.com/print/tickets/'+venta.id" qid="testid" :size="100"></vue-qr>
                                    </div>
                                    <div class="media-body ml-3"> 
                                        <h5 class="card-title mb-0 font-weight-bold">{{item.codigo_ticket}}</h5>
                                        
                                        <p class="font-size-100 mb-0">{{venta.cliente.full_data}}</p>
                                        <p class="text-muted font-size-90 mt-4 mb-0">{{venta.user.full_name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import ThemeMixin from "../../../../core/mixins/global/ThemeMixin";
    // import {AuthMixin} from "./Mixins/AuthMixin";
    import {urlGenerator} from "../../../Helpers/AxiosHelper";
    import VueQr from 'vue-qr';

    export default {
        name: "Login",
        mixins: [ThemeMixin],
        components: {VueQr},
        props: {
            venta: Object,
            siteKey: String,
            recaptchaEnable: {},
        },
        data() {
            return {
                urlGenerator,
                login: {email: 'admin@demo.com', password: '123456'},
            };
        },
        methods: {
            submit() {
                this.save(this.login);
            },
            afterSuccess(res) {
                window.location = res.data;
            }
        }
    }
</script>
<style>
.bg-ticket-logo::before {    
      content: "";
      background-image: url('https://app.fortunatoom.com/images/logo-qr.png');
      background-size: contain;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.12;
}
</style>